[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".config/tmux/plugins/theme"]
	path = .config/tmux/plugins/theme
	url = https://github.com/dreamsofcode-io/catppuccin-tmux.git
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/Kaweees/dwm.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Kaweees/nvim.git

[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/Kaweees/zsh.git
[submodule ".config/slstatus"]
	path = .config/slstatus
	url = https://github.com/Kaweees/slstatus
