! Display
Xft.dpi: 220

! Font
*font: JetBrains Mono Nerd Font:size=10
*rofifont: JetBrains Mono Nerd Font 20
*user_bh: 0

! Colors
*foreground: gray

! dwm appearance
*norm_fg: #dadada
*norm_bg: #0a0a0a
*norm_border: #555555

*sel_fg: #dadada
*sel_bg: #005577
*sel_border: #a8a8a8

*borderpx: 3
